################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/UserSettings
/Temp
/obj
/Logs
/Library
/Assembly-CSharp-Editor.csproj
Assets/Script/GameMng.cs
Assets/Script/GameMng.cs.meta
Assets/Script/SoundManager.cs
Assets/Script/SoundManager.cs.meta