################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/UserSettings
/Temp
/obj
/Logs
/Library
/Assets
/Assembly-CSharp-Editor.csproj
